<h1>遠征</h1>

<%= render 'shared/left_menu' %>

<%= @response %>
 
<table cellpadding="10">
  <% 1.upto(8) do |i| %>
    <tr>
      <% mission_id = (@area - 1) * 8 + i %>
      <% mission_name = MstMission.get_name(mission_id) %>
      <td><%= mission_id  %> : <%= mission_name %></td>
      <td>
        <% if mission_name %>
          <%= button_to("選択", { action: "select_mission", index: i, area: @area, mission_id: mission_id }) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<table cellpadding="10">
  <tr>
    <% 1.upto(5) do |i|  %>
      <td><%= button_to("Area#{i}", { action: "change_area", area: i }, disabled: i==@area) %></td>
    <% end %>
  </tr>
</table> 

